<template name="postEdit">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <form class="main">
                    <div class="form-group">
                        <label class="control-label" for="title">Title</label>
                        <input class="form-control" name="title" type="text" value="{{title}}" placeholder="Name your post"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="message">Mensaje</label>
                        <textarea class="form-control" name="message" type="text" value="{{message}}"></textarea>
                    </div>

                    <hr/>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary submit"/>
                        <a class="btn btn-danger delete" href="#">Delete post</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>